* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --header-height: 3rem;
}

body {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

header {
    height: var(--header-height);
    background: #000;
}

#banner {
    position: relative;
    width: 100%;
    height: calc(100vh - var(--header-height));
    background-image: url('../images/home_cover.avif');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    color: white;
}

.arrow_down {
    height: 50px;
    width: 50px;
}

#banner .arrow_down {
    position: absolute;
    bottom: 8%;
    right: 5%;
    transform: translateX(-50%) rotate(180deg);
}

#tricks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 2rem;
    gap: 20px;
    padding: 2rem;
    row-gap: 15px;
}

.trick_card {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.11) 0px 3px 5px;
}

.trick_card figure {
    width: 100%;
}

.trick_card figure > img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.manage_btn{
    width: 20px;
    height: 20px;
}

.trick_card figcaption {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 0.5rem;
}

.trick_card figcaption div {
    display: flex;
    gap: 5px;
}
#showMoreButton{
    display:none;
    visibility:hidden;
}

/* Detail page */
#detail-page{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px;
    flex-grow: 1;
    padding-bottom:2rem;
}
#detail-page #banner{
    height:500px;
}

#medias-thumbnails{
    padding:0 2.5rem;
    margin-top:1rem;
    display:flex;
    gap:2rem;
    height:150px;
    justify-content: center;
}
.thumbnail{
    width:14%;
    height: 100%;
    object-fit: cover;
}
.trick-description{
    width:75%;
    margin: 2rem auto auto;
    text-align: justify;
}
.trick-info{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    margin-top:1rem;
}
.trick-info  p{
    border:1px solid black;
    width:fit-content;
    padding:0.5rem 1rem;
    border-radius:3px;
}
#detail-page hr{
    width:80%;
    margin:2rem auto;
}
#detail-page .trick-comments{
    width:75%;
    margin:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap:1rem;
}
#detail-page .comment{
    width:100%;
    background-color:lightblue;
    border:1px solid black;
    border-radius: 5px;
    padding:0.5rem 1rem;
}
